* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

canvas {
    display: block;
}

/* Cabeçalho */

header {
    background-color: #021e3e;
    height: 80px;
    padding: 24px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    max-height: 70px;
}

nav a {
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    background-color: #56a0f7;
    padding: 2px 20px;
    margin: 5px;
    font-size: 18px;
}

nav a:hover {
    background-color: #95c3fa;
    transition: 1.2s;
    font-weight: 500;
}

/* Estilizações Gerais */

#inicio img,
#pousada img,
#acomodacoes img {
    border-radius: 20px;
}

#inicio,
#pousada {
    display: flex;
    align-items: center;
}

#inicio,
#pousada,
#acomodacoes,
#contato {
    justify-content: space-between;
    gap: 32px;
    padding: 20px 60px;
    position: relative;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
    color: #021e3e;
}

.texto {
    font-weight: 350;
    line-height: 150%;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Acomodações */

#acomodacoes h1 {
    text-align: center;
}

.acomodacao {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    vertical-align: top;
    width: 30%;
    padding: 20px;
}

.acomodacao img {
    height: 300px;
    width: auto;
    margin-bottom: 10px;
}

.acomodacao h2 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.descricao {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    color: #555;
}

/* Container Contato */

.form {
    background-image: url('img/onda.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #021e3e;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* Redes Sociais */

.con1 {
    flex: 0.5; 
}

.botoes-redes {
    display: block;
    color: #fff;
    border: 2px solid #021e3e;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: 300;
}

.botoes-redes:hover{
    background-color: #021e3e;
    border: none;
    transition: 1.5s;
}

.botoes-redes i {
    margin-right: 10px;
}

.facebook {
    background-color: #1877f2;
    border-color: #1877f2;
}

.instagram {
    background-color: #e4405f;
    border-color: #e4405f;
}

.twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.whatsapp {
    background-color: #25d366;
    border-color: #25d366;
}

.fa-facebook-f {
    color: #fff;
}

.fa-instagram {
    color: #fff;
}

.fa-twitter {
    color: #fff;
}

.fa-whatsapp {
    color: #fff;
}

/* Formulário de Contato */

.con2 {
    flex: 1.5;
    padding-left: 20px;
}

.form .onda-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form label {
    display: block;
    margin-bottom: 8px;
    color: #021e3e;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form textarea {
    resize: vertical;
    height: 100px;
}

.form input[type="submit"] {
    background-color: #021e3e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
    background-color: #56a0f7;
}

/* Rodapé */

footer {
    background-color: #021e3e;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

footer nav{
    margin: 10px;
}

footer nav a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

footer nav a:hover {
    font-weight: 500;
    background-color: #95c3fa;
    transition: 1s;
}

footer p {
    margin-top: 10px;
}

footer p a {
    color: #56a0f7;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}