* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

canvas {
    display: block;
}

/* Navbar */

.navbar {
    background-color: #021e3e;
}

.navbar-brand img {
    max-height: 70px;
    padding: 10px;
}

a.nav-link {
    color: white;
    font-size: 18px;
    padding: 2px 20px;
    border-radius: 6px;
    background-color: #56a0f7;
}

a.nav-link:hover {
    background-color: #95c3fa;
    transition: 1.2s;
    font-weight: 500;
}

/* Estilizações Gerais */

#inicio img,
#pousada img {
    border-radius: 20px;
    max-height: 520px;
    width: auto;
}

#inicio,
#pousada,
#acomodacoes,
#contato {
    justify-content: space-between;
    gap: 32px;
    padding: 20px 60px;
    position: relative;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    color: #021e3e;
}

.texto {
    font-weight: 350;
    line-height: 150%;
    font-size: 18px;
}

/* Acomodações */

#acomodacoes h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

#acomodacoes img {
    border-radius: 20px 20px 0 0;
}

#acomodacoes .card {
    border-radius: 20px;
}

#acomodacoes p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
    color: #555;
}

/* Container Contato */

#contato {
    margin: 20px 60px;
}

/* Redes Sociais */


.redes {
    display: flex;
    flex-direction: column;
}

.redes a {
    margin-right: 10px;
    color: white;
}

.redes a:hover {
    color: white;
    background-color: #56a0f7;
    border: none;
    transition: 1.2s;
}

.facebook {
    background-color: #1877f2;
    border-color: #1877f2;
}

.instagram {
    background-color: #e4405f;
    border-color: #e4405f;
}

.twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.whatsapp {
    background-color: #25d366;
    border-color: #25d366;
}


#contato {
    box-shadow: 0 4px 6px #021e3e;
    border-radius: 10px;
    margin-top: 20px;
}

.onda-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/onda.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
}

.form {
    padding: 20px;
    border-radius: 10px;
}

.form label {
    display: block;
    margin-bottom: 8px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form textarea {
    resize: vertical;
    height: 100px;
}

.form input[type="submit"] {
    background-color: #021e3e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
    background-color: #56a0f7;
}

/* Rodapé */

footer {
    background-color: #021e3e;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer img{
    height: 50px;
    width: auto;
}

.footer-links a,
.copyright{
    color: white;
}

.footer-links a {
    background-color: #56a0f7;
    text-decoration: none;
    padding: 2px 20px;
    border-radius: 6px;
}

.footer-links a:hover {
    font-weight: 500;
    background-color: #95c3fa;
    transition: 1s;
}

.copyright a{
    color: white;
}